<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1> text vs utext</h1>
<ul>
  <li>
    th:text usage -> <span th:text = "${data}"></span>
    th:utext usage -> <span th:utext = "${data}"></span>
  </li>
</ul>
  <h1><span th:inline="none">[[...]] vs [(...)]</span></h1>
  <ul>
    <li><span th:inline="none">[[...]] = </span>[[${data}]]</li>
    <li><span th:inline="none">[(...)] = </span>[(${data})]</li>
  </ul>
</ul>

</body>
</html>